@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
  }

@media screen and (max-width: 992px) {
    .jumbotron{
        margin-top: 50px;
    }
    .jumbotron h1,h2 {
      font-size: 35px;
    }
  }




section {
    min-height: 420px;
}

.portofolio .card{
    margin-bottom: 20px;
}

.portofolio .card img{
    height: 170px;
}